<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Clientes</span>
    <span class="example-spacer"></span>
    <!-- <button mat-button>
      <mat-icon>add</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>edit</mat-icon>
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>

<br/>
<!-- <form (ngSubmit)="enviarCliente(clienteForm);" #clienteForm="ngForm"> -->
<form #clienteForm="ngForm">
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
    <div fxFlex="40%">
      <mat-form-field fxFlexFill appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" [(ngModel)]="clienteModel.nombre" [ngModelOptions]="{standalone: true}">
        <mat-hint>Nombre del cliente</mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="40%">
      <mat-form-field fxFlexFill appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput  placeholder="Apellido" [(ngModel)]="clienteModel.apellido" [ngModelOptions]="{standalone: true}">
        <mat-hint>Apellido del cliente</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
    <div fxFlex="40%">
      <mat-form-field fxFlexFill appearance="outline">
        <mat-label>Dni</mat-label>
        <input matInput placeholder="Dni" [(ngModel)]="clienteModel.dni" [ngModelOptions]="{standalone: true}">
        <mat-hint>Dni del cliente</mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="40%">
      <mat-form-field fxFlexFill appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput  placeholder="Dirección" [(ngModel)]="clienteModel.direccion" [ngModelOptions]="{standalone: true}">
        <mat-hint>Dirección del cliente</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <br>

  <div align="center">
    <button *ngIf="update==false" mat-raised-button color="primary" (click)="enviarCliente(clienteForm);" type="button">Guardar</button>
    <button *ngIf="update==true" mat-raised-button color="primary" (click)="updateCliente(clienteForm);" type="button">Modificar</button>
  </div>
</form>

<br>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-form-field fxFlex="60%">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda">
    </mat-form-field>
</div>

<div style="padding: 20px;" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlexFill>

    <!-- Columna IF -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef color="primary"> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Columna Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Columna Apellido -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>

    <!-- Columna DNI -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef> Dni </th>
      <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

    <!-- Columna Direccion -->
    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> Direccion </th>
      <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>

    <!-- Columna Fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <!-- Columna Opciones -->
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Example icon-button with a heart icon" color="warn" (click)="eliminarCliente(element);">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with a heart icon" color="accent" (click)="selectCliente(element);">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
